name: Simple Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Starting simple pipeline checks..."

      - name: Check Ubuntu Version
        run: lsb_release -a

      - name: Check Git version
        run: git --version
